node_modules
dist
.DS_Store
.env
.env.prod

# Ignore the output video from Git but not videos you import into src/.
out/*
!out/hero-demo-light.mp4
!out/hero-demo-light-poster.jpg
!out/hero-demo-dark.mp4
!out/hero-demo-dark-poster.jpg
