@import 'tailwindcss';

@layer base {
  html,
  body {
    @apply text-gray-900 bg-gray-50 dark:bg-gray-950 dark:text-gray-200;
  }

  button, 
  [role="button"],
  a {
    cursor: pointer;
  }

  .using-mouse * {
    outline: none !important;
  }
}
